*.jpg
*.mat
spams-matlab/
Result/
ompbox/
*.png
ksvdbox/
Flann/
*.bmp
*.tif
*.asv
Result7/
Data/FOREMAN_cif.yuv
viptrafficof_win_sfun.mexw64
Result7_video/HR.avi
Result7_video/NE.avi
Result7_video/Result.avi
Result7_video/Ridge.avi
Result7_video/Video_YS.rar
Result7_video/multi.avi
Result7_video/two.avi
Data/Face_Testing4_input/test.txt
Data/VIDEO0012.mp4
